<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="mt-4">
        <h2><%= icon('fas', 'cart-arrow-down') %> 장바구니</h2>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" style="width: 50%;">제품명</th>
            <th scope="col">가격</th>
            <th scope="col">수량</th>
            <th scope="col">합계</th>
            <th scope="col" style="width: 20px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
              <a href="" class="ml-3"><%= icon("fas", "times-circle") %></a>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>
              <a href="" class="ml-3"><%= icon("fas", "times-circle") %></a>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>
              <span>2000원</span>
            </td>
            <td>
              <a href="" class="ml-3"><%= icon("fas", "times-circle") %></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
